.question {
  margin-bottom: 28px;

  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #000;
  }

  &__time {
    font-weight: 400;
    color: rgba(#000, .5);
  }

  &__content {
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-left {
    display: flex;
    align-items: baseline;
  }

  &__author {
    margin-right: 15px;
    font-size: 12px;
    line-height: 1.29;
    font-weight: 500;
    color: rgba(#000, .5);
  }

  &__bottom-likes {
    margin-left: 10px;
    display: flex;
    align-items: baseline;
    font-size: 12px;
    font-weight: 700;
    color: #000;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 4px;
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote-up--dark.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    background: #e4e4e4;

    &:before {
      position: absolute;
      top: -15px;
      left: 20px;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-width: 15px 0 0 15px;
      border-style: solid;
      border-color: transparent transparent transparent #e4e4e4;
    }
  }
}
