.track {

  &__info {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  &__info-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-left {
  }

  &__info-left-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-left-main {
    display: flex;
    align-items: center;
  }

  &__info-share {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__info-left-bottom {
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      align-items: flex-start;
    }
  }

  &__info-voting-wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__info-voting {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 25px;
    }
  }

  &__info-voting-number {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;

    &--down {
      color: #f7625d;
    }

    &--up {
      color: #3d68ff;
    }
  }

  &__info-icon {
    margin-right: 14px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    &--down {
      background: url(../img/vote-down.svg) no-repeat center;
      background-size: contain;
    }

    &--up {
      background: url(../img/vote-up.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__info-bottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__interactive {
    position: relative;
    margin-left: -20px;
    box-shadow: 0 53.6471px 67px -11.6235px rgba(0, 0, 0, .21);

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      margin-left: 0;
    }

    .ps--active-y > .ps__rail-y {
      width: 4px;
      opacity: 1 !important;
      background-color: #c4c4c4;

      .ps__thumb-y {
        right: 0;
        width: 4px;
        background: $secondary;
        border-radius: 20px;
      }
    }

    & > .row > div {
      position: static;
    }
  }

  &__graph {

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__slider {

    .slick-arrow {
      position: absolute;
      top: 50%;
      right: -48px;
      margin-top: -24px;
      display: block;
      width: 24px;
      height: 48px;
      font-size: 0;
      background: url(../img/slider-arrow--dark.svg) no-repeat center;
      background-size: contain;

      @include transition;

      &:hover {
        opacity: .8;
      }

      &.slick-prev {
        right: auto;
        left: -48px;
        transform: rotate(180deg);
      }
    }
  }
}
