.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrows-wrapper {
  }

  &__arrow {
    display: block;
    width: 18px;
    height: 36px;
    background: url(../img/presentation-arrow.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--left {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__items-wrapper {
    margin: 0 160px;
    max-width: 560px;

    @include media-breakpoint-down(md) {
      margin: 0 50px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 20px;
      max-width: 260px;
    }
  }

  &__item {
    display: block;

    img {
      overflow: hidden;
      transform-origin: top left;
    }
  }

  &__controls {
    position: relative;
    margin-top: 45px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    max-width: 310px;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    background: #343434;
    border-radius: 10px;
  }

  &__counter {
    padding: 12.4px 12px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid rgba(#fff, .2);

    span {
      margin-left: 10px;
      display: block;
    }
  }

  &__counter-content {
    display: flex;
    align-items: center;
  }

  &__counter-number {
    margin-right: 10px;
    margin-left: 23px;
    min-width: 8px;

    &--current {
    }

    &--overall {
    }
  }

  &__zoom {
    padding: 12.4px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__zoom-btn {

    @include transition;

    &:hover {
      opacity: .75;
    }

    &--out {
      display: flex;
      width: 15px;
      height: 15px;
      justify-content: center;
      align-items: center;

      &:before {
        display: block;
        width: 15px;
        height: 1px;
        content: '';
        background: #fff;
      }
    }

    &--in {
      position: relative;
      width: 14px;
      height: 1px;
      background: #fff;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 1px;
        height: 14px;
        content: '';
        background: #fff;
        transform: translate(-50%, -50%);
      }
    }

    &--big {
      margin: 0 10px;
      width: 17px;
      height: 17px;
      background: url(../img/zoom-big.svg) no-repeat center;
      background-size: contain;
    }
  }
}
