mixin presentation(data)
  .presentation&attributes(attributes)
    .presentation__content
      a.presentation__arrow.presentation__arrow--left(href="#")
      .presentation__items-wrapper
        a.presentation__item(href="./img/sample-1.png", data-fancybox="gallery")
          img(src="./img/sample-1.png", alt)
        a.presentation__item(href="./img/sample-2.png", data-fancybox="gallery")
          img(src="./img/sample-2.png", alt)
        a.presentation__item(href="./img/sample-1.png", data-fancybox="gallery")
          img(src="./img/sample-1.png", alt)
        a.presentation__item(href="./img/sample-2.png", data-fancybox="gallery")
          img(src="./img/sample-2.png", alt)
      a.presentation__arrow.presentation__arrow--right(href="#")
    .presentation__controls
      .presentation__counter
        .presentation__counter-header Страница
        .presentation__counter-content
          .presentation__counter-number.presentation__counter-number--current 1
          span из 
          .presentation__counter-number.presentation__counter-number--overall 4
      .presentation__zoom
        a.presentation__zoom-btn.presentation__zoom-btn--out(href="#")
        a.presentation__zoom-btn.presentation__zoom-btn--big(href="#", data-fancybox="gallery")
        a.presentation__zoom-btn.presentation__zoom-btn--in(href="#")