@font-face {
  font-family: 'Boxed';
  src: url('../fonts/BoxedRegular.woff2') format('woff2'),
    url('../fonts/BoxedRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boxed';
  src: url('../fonts/BoxedMedium.woff2') format('woff2'),
    url('../fonts/BoxedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boxed';
  src: url('../fonts/BoxedSemibold.woff2') format('woff2'),
    url('../fonts/BoxedSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
