h1,
.h1 {
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h6,
.h6 {
}

p,
.p {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;

  &.sm {
    font-size: 14px;
  }

  &.xs {
    font-size: 12px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi {
  font-weight: 600;
}

.font-weight-black {
  font-weight: 900;
}

.text-black {
  color: $black;
}

.transparent {
  opacity: .5;
}

.semi-transparent {
  opacity: .7;
}

.position-sticky {
  position: sticky;
  top: 20px;
}

hr {
  background: $primary;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
