/* Bootstrap */

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;

  @include media-breakpoint-down(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {

    @include media-breakpoint-down(sm) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

.btn {
  display: inline-flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;

  &.btn-secondary {
    background-image: linear-gradient(180deg, #f9cb2b 0%, #e9a40c 100%);
    border: 0;

    @include transition;

    &:hover {
      opacity: .8;
      color: #000;
    }
  }

  &.btn-outline-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $primary;
  }

  &.btn-tight {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
  }

  &.btn-fixed {
    flex-grow: 1;
  }

  &.btn-sm {
    padding: 14px 30.5px;
    min-height: 0;
    font-size: 16px;
    font-weight: 600;
  }

  &.btn-xs {
    padding: 0 8.5px;
    min-height: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

.bg-primary-light {
  background: #220f3c;
}

/* Perfect Scrollbar */

.ps--active-y > .ps__rail-y {
  width: 6px;
  opacity: 1 !important;
  background-color: #c4c4c4;

  .ps__thumb-y {
    right: 0;
    width: 6px;
    background: $primary;
    border-radius: 20px;
  }
}

.ps--active-x > .ps__rail-x {
  display: none;
}

.custom-file {
  max-width: 108px;

  &:hover {

    .custom-file-label {
      color: #000;
      background: $primary;
    }
  }

  .custom-file-input {
  }

  .custom-file-label {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: transparent;
    border: 3px solid $primary;
    border-radius: 0;

    @include transition;

    &:before,
    &:after {
      display: none;
    }
  }

  &--chat {
    margin-right: 16px;
    width: 11px;
    height: 18px;

    &:hover {

      .custom-file-label {
        background: url(../img/clip.svg) no-repeat center;
        background-size: contain;
      }
    }

    .custom-file-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .custom-file-label {
      width: 100%;
      height: 100%;
      font-size: 0;
      background: url(../img/clip.svg) no-repeat center;
      background-size: contain;
      border: 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

/* js-expand */

.js-expand-content {

  &.is-active {

    @include media-breakpoint-up(sm) {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
    }
  }
}

/* Slick */

.slick-dots {
  margin-top: 40px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  li {
    margin-right: 10px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {

      button {
        background: #000;
      }
    }

    button {
      width: 10px;
      height: 10px;
      font-size: 0;
      background: #ccc;
      border-radius: 50%;
    }
  }
}

.slick-slide {

  &:focus,
  &:focus a {
    outline: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select:focus,
  textarea:focus,
  input:focus,
  select,
  textarea,
  input {
    font-size: 16px!important;
  }
}
