.expo {
  margin-bottom: 40px;
  padding: 24px 24px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border: 6px solid rgba(19, 2, 43, .3);
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  &__picture {
    margin-bottom: 14px;
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: flex-start;
    align-items: center;

    @include media-breakpoint-down(sm) {
      min-height: 150px;
    }

    @include transition;

    &:hover {
      opacity: .8;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__like {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #3d68ff;

    @include transition;

    &:hover {
      color: #3d68ff;
    }

    &:before {
      position: relative;
      top: -2px;
      margin-right: 13px;
      display: block;
      width: 26px;
      height: 19px;
      flex-shrink: 0;
      content: '';
      background: url(../img/like.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--sm {
    border-width: 1px;
  }
}
