mixin expo(data)
  .expo&attributes(attributes)
    a.expo__picture(href="#")
      img(src="./img/" + data.logo, alt)
    .expo__content
      .expo__content-top
        p.font-weight-bold.text-primary.mb-10
          a(href="#")= data.title
        p.sm.text-primary.mb-0= data.dscr
      .expo__footer
        p.sm.text-primary.transparent.mb-0 Россия
        a.expo__like(href="#") 150