.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 20px;
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: #fff;
      background: $primary;

      &:hover {
        color: #fff;
      }
    }

    &--left {
      background: url(../img/pagination-arrow.svg) no-repeat center;
      transform: rotate(180deg);
    }

    &--right {
      background: url(../img/pagination-arrow.svg) no-repeat center;
    }

    &--dots {
      align-items: flex-end;
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
      letter-spacing: .04em;
      color: $primary;
      border: 0;
    }
  }
}
