mixin pagination(data)
  .pagination&attributes(attributes)
    a.pagination__item.pagination__item--left(href="#")
    a.pagination__item.pagination__item--active(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item.pagination__item--dots(href="#") ...
    a.pagination__item(href="#") 150
    a.pagination__item.pagination__item--right(href="#") 