
include ../blocks/speakers-slider/speakers-slider.pug
include ../blocks/opportunities/opportunities.pug
include ../blocks/link-back/link-back.pug
include ../blocks/select/select.pug
include ../blocks/form/form.pug
include ../blocks/exponent/exponent.pug
include ../blocks/pagination/pagination.pug
include ../blocks/search/search.pug
include ../blocks/article/article.pug
include ../blocks/video/video.pug
include ../blocks/estimate/estimate.pug
include ../blocks/info/info.pug
include ../blocks/partner/partner.pug
include ../blocks/organizer/organizer.pug
include ../blocks/sorting/sorting.pug
include ../blocks/expo/expo.pug
include ../blocks/background/background.pug
include ../blocks/user/user.pug
include ../blocks/activity/activity.pug
include ../blocks/chat/chat.pug
include ../blocks/conversation/conversation.pug
include ../blocks/document/document.pug
include ../blocks/picture/picture.pug
include ../blocks/link/link.pug
include ../blocks/message/message.pug
include ../blocks/chat-search/chat-search.pug
include ../blocks/conversation-item/conversation-item.pug
include ../blocks/presentation/presentation.pug
include ../blocks/partners-row/partners-row.pug
include ../blocks/front/front.pug
include ../blocks/item/item.pug
include ../blocks/carousel/carousel.pug
include ../blocks/interaction/interaction.pug
include ../blocks/card/card.pug
include ../blocks/speaker/speaker.pug
include ../blocks/track/track.pug
include ../blocks/questions/questions.pug
include ../blocks/question/question.pug
include ../blocks/socials/socials.pug