.opportunities {
  padding: 60px 0 20px;
  overflow: hidden;

  &__item-wrapper {

    &:nth-child(1) {

      .opportunities__item-picture {
        top: 17px;
        right: -48px;

        @include media-breakpoint-down(xl) {
          top: 0;
          right: 0;
        }
      }
    }

    &:nth-child(2) {

      .opportunities__item-picture {
        top: -9px;
        right: -14px;

        @include media-breakpoint-down(xl) {
          top: 0;
          right: 0;
        }
      }
    }

    &:nth-child(3) {

      .opportunities__item-picture {
        top: 33px;
        right: -6px;

        @include media-breakpoint-down(xl) {
          top: 0;
          right: 0;
        }
      }
    }

    &:nth-child(4) {

      .opportunities__item-picture {
        top: -29px;
        right: -6px;

        @include media-breakpoint-down(xl) {
          top: 0;
          right: 0;
        }
      }
    }

    &:nth-child(5) {

      .opportunities__item-picture {
        top: 64px;
        right: -16px;

        @include media-breakpoint-down(xl) {
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__item {
    margin-bottom: 40px;
    padding: 40px;
    padding-right: 43%;
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
  }

  &__item-header {
    margin-bottom: 0;
  }

  &__item-picture {
    position: absolute;
  }

  &--dark {
    padding-top: 80px;
    overflow: visible;

    @include media-breakpoint-down(lg) {
      padding-top: 60px;
      overflow: hidden;
    }

    .opportunities__item-wrapper {

      &:nth-child(1) {

        .opportunities__item-picture {
          top: -17px !important;
          right: 19px !important;

          @include media-breakpoint-down(lg) {
            top: 0 !important;
            right: 0 !important;
          }
        }
      }

      &:nth-child(2) {

        .opportunities__item-picture {
          top: -1px !important;
          right: -40px !important;
          width: 150px;

          @include media-breakpoint-down(lg) {
            top: 0 !important;
            right: 0 !important;
          }
        }
      }

      &:nth-child(3) {

        .opportunities__item-picture {
          top: -8px !important;
          right: -8px !important;

          @include media-breakpoint-down(lg) {
            top: 0 !important;
            right: 0 !important;
          }
        }
      }

      &:nth-child(4) {

        .opportunities__item-picture {
          top: -8px !important;
          right: -8px !important;
          width: 108px;

          @include media-breakpoint-down(lg) {
            top: 0 !important;
            right: 0 !important;
          }
        }
      }
    }

    .opportunities__item {
      padding: 26px 60px 26px 26px;
      background: #2f0e5e;
      border: 0;

      @include media-breakpoint-down(sm) {
        padding: 20px 100px 20px 20px;
      }
    }

    .opportunities__item-header {
      font-size: 24px;
      line-height: 1.21;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    .opportunities__item-picture {

      @include media-breakpoint-down(lg) {
        transform: scale(.7);
        transform-origin: top center;
      }
    }
  }
}
