mixin opportunities(data)
  .opportunities&attributes(attributes)
    if data && data.modifier == 'networking'
      .row
        .col-lg-6.col-xl-3.d-flex.opportunities__item-wrapper
          +opportunities__item({
            title: 'Чаты по интересам',
            picture: 'opportunity-3.png'
          })
        .col-lg-6.col-xl-3.d-flex.opportunities__item-wrapper
          +opportunities__item({
            title: 'Персональный чат',
            picture: 'opportunity-1.png'
          })
        .col-lg-6.col-xl-3.d-flex.opportunities__item-wrapper
          +opportunities__item({
            title: 'Вопрос спикеру',
            picture: 'opportunity-2.png'
          })
        .col-lg-6.col-xl-3.d-flex.opportunities__item-wrapper
          +opportunities__item({
            title: 'Expo',
            picture: 'opportunity-4.png'
          })
    else
      .container-fluid
        h2.mb-30.mb-lg-55 Возможности коммуникации с участниками и спикерами мероприятия:
        .row
          .col-lg-6.col-xl-4.col-xxl.d-flex.opportunities__item-wrapper
            +opportunities__item({
              title: 'Общий чат',
              picture: 'opportunity-1.png'
            })
          .col-lg-6.col-xl-4.col-xxl.d-flex.opportunities__item-wrapper
            +opportunities__item({
              title: 'Вопрос спикеру',
              picture: 'opportunity-2.png'
            })
          .col-lg-6.col-xl-4.col-xxl.d-flex.opportunities__item-wrapper
            +opportunities__item({
              title: 'Чаты по интересам',
              picture: 'opportunity-3.png'
            })
          .col-lg-6.col-xl-4.col-xxl.d-flex.opportunities__item-wrapper
            +opportunities__item({
              title: 'Expo',
              picture: 'opportunity-4.png'
            })
          .col-lg-6.col-xl-4.col-xxl.d-flex.opportunities__item-wrapper
            +opportunities__item({
              title: 'Обсудить сессию',
              picture: 'opportunity-5.png'
            })
      
      
mixin opportunities__item(data)
  .opportunities__item&attributes(attributes)
    h3.opportunities__item-header= data.title
    img.opportunities__item-picture(src="./img/" + data.picture, alt)