.picture {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include transition;

  &:hover {
    opacity: .8;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  &__content {
    position: relative;
    margin-bottom: 25px;
    padding-top: 72.14%;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}
