.chat {
  background: #fff;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__header {
    padding: 12.8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($primary, .1);
  }

  &__header-btn {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/chat-header-btn.svg) no-repeat center;
    background-size: contain;
  }

  &__messages-number {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #fff;

    &:before {
      margin-right: 18px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/chat-messages-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    position: relative;
    max-height: 463px;

    &--conversation {
      max-height: 453px;
    }
  }

  &__footer {
    border-top: 1px solid rgba(#515152, .1);

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    &--conversation {
      border-top: 1px solid #c8c8c8;
    }
  }

  &__form {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__form-emoji {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/emoji.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__form-input {
    padding-top: 5px;
    padding-right: 14px;
    flex-grow: 1;
    font-size: 14px;
    color: #000;
    background: transparent;
    border: 0;

    @include placeholder(rgba(#000, .5));
  }

  &__form-right {
    display: flex;
    align-items: center;
  }

  &__form-btn {
    margin-left: 11px;
    width: 24px;
    height: 24px;
    background: url(../img/chat-btn.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &--inactive {
    opacity: .5;
    pointer-events: none;
  }

  &--team {
    background: #f2f2f2;

    .aside__content {
      padding: 10px 40px;
    }
  }

  &--answerable {

    .message__answer-btn {
      display: block;
    }

    .chat__messages-number {

      &:before {
        display: none;
      }
    }
  }

  &--conversation {
    width: 100%;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .chat__content {
      padding: 25px 25px 15px;
    }
  }

  &--default {
    border-radius: 0 5px 5px 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    .message__name {
      font-size: 12px;
    }

    .message__text {
      font-size: 12px;
    }
  }

  &--dark {

    .message__content-header {
      justify-content: flex-start;
    }

    .message__time {
      margin-left: 17px;
      color: rgba(#000, .5);
    }

    .ps--active-y > .ps__rail-y {
      width: 4px;
      opacity: 1 !important;
      background-color: #c4c4c4;

      .ps__thumb-y {
        right: 0;
        width: 4px;
        background: $secondary;
        border-radius: 20px;
      }
    }
  }
}
