.speakers-slider {
  padding-top: 37px;
  overflow: hidden;
  background: url(../img/speakers-slider-bg.png) no-repeat top center;
  background-size: cover;

  &__content {
    padding-top: 230px;

    @include media-breakpoint-down(xs) {
      padding-top: 50px;
    }

    .slick-list {
      overflow: visible !important;
    }

    .slick-track {
      display: flex !important;
      align-items: flex-end;
    }
  }

  &__item {
    position: relative;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline: none;
    }

    &.slick-active {

      .speakers-slider__item-picture {
        transform: scale(1.62);

        @include media-breakpoint-down(xs) {
          transform: none;
        }
      }

      .speakers-slider__item-content {
        opacity: 1;
      }

      & + .slick-slide {
        transform: translateX(75px);

        .speakers-slider__item-picture {
          transform: scale(1.2);

          @include media-breakpoint-down(xs) {
            transform: none;
          }
        }
      }
    }

    &--prev {
      transform: translateX(-75px);

      .speakers-slider__item-picture {
        transform: scale(1.2);

        @include media-breakpoint-down(xs) {
          transform: none;
        }
      }
    }

    &__item-picture {
      position: relative;
      display: inline-flex;
    }
  }

  &__item-picture {
    max-width: 382px;
    transform-origin: bottom center;

    @include transition;

    img {
    }
  }

  &__item-content {
    position: absolute;
    bottom: 60px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
  }

  &__item-name {
    margin-bottom: 8px;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    background: $primary;
  }

  &__item-info {
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04em;
    color: #fff;
    background: $primary;
  }

  .slick-arrow {
    position: absolute;
    top: -46px;
    width: 52px;
    height: 52px;
    font-size: 0;
    background: transparent url(../img/slider-arrow.svg) no-repeat center;
    border: 1px solid #fff;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
      top: -34px;
      width: 40px;
      height: 40px;
    }

    &.slick-prev {
      right: 68px;
      transform: rotate(180deg);

      @include media-breakpoint-down(sm) {
        right: 56px;
      }
    }

    &.slick-next {
      right: 0;
    }
  }
}
