mixin speakers-slider(data)
  .speakers-slider&attributes(attributes)
    .container-fluid
      h2.text-white.mb-0 Спикеры 2020
      .speakers-slider__content
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
        +speakers-slider__item
      
      
      
mixin speakers-slider__item(data)
  a.speakers-slider__item(href="#")&attributes(attributes)
    .speakers-slider__item-picture
      img(src="./img/speakers-slider-1.png", alt)
    .speakers-slider__item-content
      h3.speakers-slider__item-name Фамилия Имя
      h3.speakers-slider__item-info Должность в одну строку