.sorting {
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  &__header {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: $primary;
  }

  &__select {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: $primary;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}
