.organizer {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  min-height: 133px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;

  img {
    max-width: 90%;
    max-height: 90%;
  }
}
