.background {
  min-height: 100vh;

  &--dark {
    color: #fff;
    background: $primary url(../img/background-stuff.png) no-repeat top center;
    background-size: contain;
  }

  &--light {
    background: url(../img/background-stuff.png) no-repeat top center;
    background-size: contain;
  }
}
