.conversation {
  display: flex;
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &__aside {
    width: 100%;
    flex-basis: 22%;
    border-right: 1px solid #c8c8c8;

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }
  }

  &__content {
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      border-right: 1px solid #c8c8c8;
    }
  }

  &__aside-header {
    padding: 10px 16px 18px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 15px;
      border-bottom: 1px solid rgba(#fff, .1);
    }
  }

  &__number {
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    &:before {
      margin-right: 3px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/conversation-number-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__aside-content {
    position: relative;
    max-height: 444px;

    @include media-breakpoint-down(md) {
      max-height: 250px;
      border-bottom: 1px solid rgba($primary, .1);
    }
  }
}
