mixin conversation(data)
  .conversation&attributes(attributes)
      .conversation__aside
        .conversation__aside-header
          +chat-search.search--dark
          .conversation__number 35
        .conversation__aside-content
          +message({
            photo: 'user-1.jpg',
            name: 'Вячеслав Чморшанс...',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-2.jpg',
            name: 'Юия Кирпа',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-3.jpg',
            name: 'Олег Олаф',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-4.jpg',
            name: 'Марина Олексеева',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-5.jpg',
            name: 'Ким Кин',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-6.jpg',
            name: 'Олег Вертегел',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-7.jpg',
            name: 'Риза Чалиев',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-1.jpg',
            name: 'Вячеслав Чморшанс...',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-2.jpg',
            name: 'Юия Кирпа',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-3.jpg',
            name: 'Олег Олаф',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-4.jpg',
            name: 'Марина Олексеева',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-5.jpg',
            name: 'Ким Кин',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-6.jpg',
            name: 'Олег Вертегел',
            content: 'Последнее сообщени...'
          }).message--front
          +message({
            photo: 'user-7.jpg',
            name: 'Риза Чалиев',
            content: 'Последнее сообщени...'
          }).message--front
      .conversation__content
        +chat({
          modifier: 'conversation'
        }).chat--conversation