mixin info(data)
  .info&attributes(attributes)
    if data && data.modifier == 'organizer'
      .info__content
        img(src="./img/info-2.png", alt)
        .info__contacts-wrapper
          .info__contacts
            .p.font-weight-bold.text-primary.transparent Cайт
            a.p.font-weight-normal.text-primary.mb-0(href="https://www.sk.ru") https://www.sk.ru
    else if data && data.modifier == 'partner'
      .info__content
        p.text-center.text-primary.font-weight-bold.mb-30 Стратегический партнер
        img(src="./img/info-3.png", alt)
        .info__contacts-wrapper
          .info__contacts
            .p.font-weight-bold.text-primary.transparent Cайт
            a.p.font-weight-normal.text-primary.mb-0(href="https://www.digitalfuture.ru") https://www.digitalfuture.ru
    else
      .info__content
        img(src="./img/expo-1.png", alt)
        .info__contacts-wrapper
          .info__contacts
            .p.font-weight-bold.text-primary.transparent Cайт
            a.p.font-weight-normal.text-primary.mb-0(href="https://www.invest-in-bavaria.com/en/") https://www.invest-in-bavaria.com/en/
          .info__contacts
            .p.font-weight-bold.text-primary.transparent E-mail
            a.p.font-weight-normal.text-primary.mb-0(href="mailto:info@bayern.ru") info@bayern.ru
          .info__contacts
            .p.font-weight-bold.text-primary.transparent Телефон
            a.p.font-weight-normal.text-primary.mb-0(href="tel:+74957862659") +7 495 786 26 59
      .info__controls-wrapper
        a.info__controls(href="#")
          img(src="./img/info-1.svg", alt)
          .info__controls-title Презентация проекта
        a.info__controls(href="#")
          img(src="./img/info-2.svg", alt)
          .info__controls-title Видео-конференция
        a.info__controls(href="#")
          img(src="./img/info-3.svg", alt)
          .info__controls-title Задать вопрос