.info {

  &__content {
    padding: 35px 35px 15px;
    background: #fff;
    border-radius: 5px 5px 0 0;

    @include media-breakpoint-down(lg) {
      padding: 20px 15px 15px;
    }

    img {
      margin-bottom: 35px;
    }
  }

  &__contacts-wrapper {
  }

  &__contacts {
    margin-bottom: 20px;

    a {
      word-break: break-all;
    }
  }

  &__controls-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
  }

  &__controls {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33.33%;

    @include transition;

    @include media-breakpoint-down(lg) {
      padding: 10px;
    }

    &:hover {
      opacity: .8;
    }

    &:nth-child(1) {
      background: #221535;
    }

    &:nth-child(2) {
      background: #2b1b40;
    }

    &:nth-child(3) {
      background: #2f2143;
    }

    img {
      margin-bottom: 17px;

      @include media-breakpoint-down(lg) {
        max-width: 24px;
      }
    }
  }

  &__controls-title {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
}
