.search {
  padding: 11.6px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba($primary, .2);
  border-radius: 5px;

  &__input {
    padding-right: 10px;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 700;
    color: $primary;
    border: 0;

    @include placeholder(rgba($primary, .2));

    @include media-breakpoint-down(lg) {
      max-width: 90%;
    }
  }

  &__btn {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    background: url(../img/zoom.svg) no-repeat center;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--dark {
    padding-right: 20px;
    background: #301358;

    .search__input {
      color: #fff;
      background: #301358;

      @include placeholder(rgba(#fff, .2));
    }
  }

  &--expo-sm {
    position: absolute;
    opacity: 0;

    @include transition;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &.active {
      top: -61px;
      width: 100%;
      opacity: 1;
    }
  }
}
