mixin item(data)
  a.item(href="#", style="background-image: url(./img/" + data.bg + ");")&attributes(attributes)
    .item__content
      h5.mb-30 Лекции и дискуссии
      h3.mb-25 LONG NAME TRACK
      h5.mb-0 19 октября
    img.item__icon(src="./img/" + data.icon, alt)