.item {
  position: relative;
  margin: 0 20px;
  padding: 30px 35px 35px 40px;
  display: flex !important;
  overflow: hidden;
  width: 425px;
  height: auto;
  align-items: flex-end;
  color: #fff;
  background-position: top center;
  background-size: cover;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    margin: 0 10px;
    padding: 20px;
    width: 280px;
  }

  &:hover {
    color: #fff;

    &:before {
      transform: rotate(180deg) scale(1.5);
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: radial-gradient(
        69.73% 131.24% at 100% 90.29%,
        rgba(247, 198, 39, .6) 0%,
        rgba(23, 38, 91, .37) 52.08%,
        rgba(236, 170, 17, 0) 100%
      ),
      radial-gradient(94.21% 94.21% at 4.37% 5.79%, #13022b 0%, rgba(19, 2, 43, 0) 100%);
    transform: rotate(180deg);

    @include transition;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__icon {
    position: relative;
    z-index: 1;
    margin-left: 30px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      max-width: 20px;
    }
  }
}
