.speaker {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $primary;

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
  }

  &__photo {
    margin-bottom: 20px;
    padding-top: 117.31%;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &__info {
    opacity: .7;
    line-height: 1.4;
    font-weight: 400;
  }
}
