.document {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__icon {
    margin-right: 17px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  &__content {
  }

  &__title {
    margin-bottom: 5px !important;
    color: #fff;
  }

  &__info {
    opacity: .5;
    font-size: 14px;
    color: #fff;
  }

  &--white {

    .document__icon {
      margin-right: 18px;
      width: 36px;
      height: 36px;
    }

    .document__title {
      font-weight: 400;
      color: #fff !important;
    }
  }
}
