.card {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &__picture {
    position: relative;
    padding: 50px 35px 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: #fff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }

    &:hover {
      color: #fff;

      &:before {
        transform: rotate(180deg) scale(1.5);
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: radial-gradient(
          69.73% 131.24% at 100% 90.29%,
          rgba(247, 198, 39, .6) 0%,
          rgba(23, 38, 91, .37) 52.08%,
          rgba(236, 170, 17, 0) 100%
        ),
        radial-gradient(94.21% 94.21% at 4.37% 5.79%, #13022b 0%, rgba(19, 2, 43, 0) 100%);
      transform: rotate(180deg);

      @include transition;
    }
  }

  &__logo {
    margin-bottom: 78px;
    max-width: 100%;
  }

  &__picture-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
  }
}
