mixin card(data)
  a.card(href="#")&attributes(attributes)
    .card__picture(style="background-image: url(./img/card-bg.jpg);")
      .card__picture-content
        img.card__logo(src="./img/card-logo.png", alt)
        h5.text-uppercase.mb-0 19 октября
    if data && data.title
      h5.mb-0.mt-20.mt-lg-40.text-primary.text-uppercase= data.title
    