.link {
  padding: 4px 4px 4px 19px;
  display: flex;
  width: 100%;
  align-items: center;
  background: rgba($primary, .1);
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  &__text {
    word-break: break-all;
  }

  &__content-btn {
    margin-right: 20px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: url(../img/link-icon.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
      color: #000;
    }
  }

  &__btn {
    margin-left: 10px;
    padding: 5px 18.2px;
    display: inline-flex;
    min-height: 40px;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: $primary;
    background: rgba($primary, .1);
    border-radius: 5px;
  }
}
