mixin link(data)
  .link&attributes(attributes)
    .link__content
      a.link__content-btn(href="#")
      p.text-primary.semi-transparent.link__text.mb-0 https://us02web.zoom.us/postattendee?id=4
    a.link__btn(href="#") Скопировать