.chat-search {
  padding: 8px;
  display: flex;
  width: 100%;
  max-width: 80%;
  flex-shrink: 1;
  flex-grow: 0;
  background: rgba($primary, .11);
  border-radius: 5px;

  @media (max-width: 1599px) {
    max-width: 70%;
  }

  &__input {
    padding-right: 10px;
    padding-left: 11px;
    max-width: 160px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background: transparent;
    border: 0;
    border-radius: 0;

    @include placeholder(rgba(#000, .3));
  }

  &__btn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/chat-search-btn.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
