extends ../templates/template.pug
block content
  .background.background--dark
    .py-30.py-xl-50
      .container
        .link-back
          a.link-back__btn(href="#")
          .link-back__content
            .h2.mb-25 Бавария как место для бизнеса: как найти партнеров и инвестировать в Баварию
            .h4.transparent.mb-0 Representative Office of Bavaria in the Russian Federation
        .article
          .row
            .col-lg-8
              .article__content
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
                p.transparent It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                +video
                +estimate({
                  title: 'Требуемые инвестиции',
                  comment: 'Funds needed',
                  price: '12 000 000 $'
                })
                +estimate({
                  title: 'Выручка за 2019 год',
                  comment: 'Actual revenues in 2019',
                  price: '100 000 $'
                })
                +estimate({
                  title: 'Планы по выручке на 2020 год',
                  comment: 'Estimated revenues in 2020',
                  price: '1 100 000 $'
                })
                +estimate({
                  title: 'Стадия проекта',
                  comment: 'Project stage description',
                  content: 'Разработка/прототип'
                })
                .row.mt-25
                  .col-lg-6.d-flex.mb-20.mb-lg-0
                    .border-bottom.pb-15
                      .pr-xl-100
                        h5 Конкурентные преимущества
                        p.sm.semi-transparent Competitive advantages of the product
                      p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                  .col-lg-6.d-flex.mb-20.mb-lg-0
                    .border-bottom.pb-15
                      .pr-xl-100
                        h5 Особенности ("фишка") продукта/проекта. 
                        p.sm.semi-transparent Features which make your product/project distinguished
                      p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
            .col-lg-4
              +info
        h3.mt-30.mt-lg-50.mb-30.mb-lg-45 Соорганизаторы
        .row
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-1.png'
            })
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-2.png'
            })
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-3.png'
            })
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-4.png'
            })
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-5.png'
            })
          .col-6.col-sm-4.col-lg-3.col-xl-2
            +organizer({
              logo: 'organizer-6.png'
            })