extends ../templates/template.pug
block content
  .py-30.py-xl-50
    .container
      .link-back
        a.link-back__btn(href="#")
        .link-back__content
          .h2.mb-0 EXPO
      +search({
        placeholder: 'Поиск по экспонентам'
      }).search--expo-lg
      .row.mt-30.position-relative
        .col-lg-3
          .position-sticky
            h4.mb-15 Уточнить
            form.form.form--search-expo(action="#", method="POST")
              +search({
                placeholder: 'Поиск по экспонентам'
              }).search--expo-sm.mb-10
              .form__item
                .form__label Целевой рынок
                +select
              .form__item
                .form__label Стадия проекта
                +select
              .form__item
                .form__label Стадия проекта
                +select
              .form__item
                .form__label Технологическое направление
                +select
              .form__item
                .form__label Страна, Регион
                +select
              .form__item
                .form__label Прилежность к Институтам развития
                +select
              .form__filters-footer
                a.form__filters-clear(href="#")
                button.btn.btn-secondary.text-white.btn-tight(type="submit") Показать 250 экспонетов
        .col-lg-9.mt-40.mt-lg-0
          .sorting.pt-5
            .sorting__header Сортировать по: 
            select.sorting__select
              option Популярности
              option Дате
          .row
            .col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-sm-6.d-flex
              +expo({
                logo: 'speakers-slider-bg.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-sm-6.d-flex
              +expo({
                logo: 'opportunity-2.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              })
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              }).expo--sm
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-2.png',
                title: 'Representative Office ',
                dscr: 'Бавария как место для бизнеса: как найти партнеров и инвестировать в Баварию'
              }).expo--sm
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-3.png',
                title: 'Representative Office of Bavaria ',
                dscr: 'Бавария как место для бизнеса: как найти '
              }).expo--sm
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-1.png',
                title: 'Representative Office of Bavaria in the Russian Federation',
                dscr: 'Бавария как место для бизнеса: как найти партнеров'
              }).expo--sm
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-2.png',
                title: 'Representative Office ',
                dscr: 'Бавария как место для бизнеса: как найти партнеров и инвестировать в Баварию'
              }).expo--sm
            .col-xl-4.col-sm-6.d-flex
              +expo({
                logo: 'expo-3.png',
                title: 'Representative Office of Bavaria ',
                dscr: 'Бавария как место для бизнеса: как найти '
              }).expo--sm
          +pagination
