extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="expo.html", style="font-size: 20px;") Expo
          li(style="list-style: none;")
            a.d-block.my-20(href="exponent.html", style="font-size: 20px;") Exponent
          li(style="list-style: none;")
            a.d-block.my-20(href="participants.html", style="font-size: 20px;") Participants
          li(style="list-style: none;")
            a.d-block.my-20(href="speakers.html", style="font-size: 20px;") Speakers
          li(style="list-style: none;")
            a.d-block.my-20(href="profile.html", style="font-size: 20px;") Profile
          li(style="list-style: none;")
            a.d-block.my-20(href="organizer.html", style="font-size: 20px;") Organizer
          li(style="list-style: none;")
            a.d-block.my-20(href="partner.html", style="font-size: 20px;") Partner
          li(style="list-style: none;")
            a.d-block.my-20(href="main-live.html", style="font-size: 20px;") Main Live
          li(style="list-style: none;")
            a.d-block.my-20(href="live.html", style="font-size: 20px;") Live
          li(style="list-style: none;")
            a.d-block.my-20(href="networking.html", style="font-size: 20px;") Networking
