extends ../templates/template.pug
block content
  .background.background--light
    .track
      .py-30.py-xl-50
        .container
          .link-back.mb-20.mb-lg-40
            a.link-back__btn(href="#")
          .row.track__slider.mb-30.mb-lg-50
            .col-md-4.d-flex
              +card.mb-0
            .col-md-4.d-flex
              +card.mb-0
            .col-md-4.d-flex
              +card.mb-0
            .col-md-4.d-flex
              +card.mb-0
            .col-md-4.d-flex
              +card.mb-0
            .col-md-4.d-flex
              +card.mb-0
          .row
            .col-xl-6
              +video.video--default
              .track__info
                .track__info-top
                  p.font-weight-normal.semi-transparent.text-primary.mb-0 14 сентября    09:45 – 10:45
                  .track__info-voting-wrapper
                    a.track__info-voting(href="#")
                      .track__info-icon.track__info-icon--down
                      .track__info-voting-number.track__info-voting-number--down 15
                    a.track__info-voting(href="#")
                      .track__info-icon.track__info-icon--up
                      .track__info-voting-number.track__info-voting-number--up 150
                .track__info-center
                  h5.font-weight-medium.mb-10 Название Трека в одну строку или несколько строк для наглядности отображения
                  p.sm.semi-transparent.text-primary.mb-0 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому.
                .track__info-bottom
                  .track__info-share
                    p.font-weight-normal.semi-transparent.text-primary.mb-0.mr-20 Поделиться:
                    +socials
                  .track__graph
                    img(src="./img/track-graph.svg", alt)
            .col-xl-6
              .track__interactive
                .row.no-gutters
                  .col-sm-6
                    +questions
                  .col-sm-6
                    +chat.chat--default.js-expand-content
          h3.mb-35 Спикеры
          .row
            .col-xl-2.col-lg-3.col-md-4.col-sm-6
              +speaker({
                photo: 'user-1.jpg',
                name: 'Виктория Моршанская',
                dscr: 'Mail.RU Group'
              })
            .col-xl-2.col-lg-3.col-md-4.col-sm-6
              +speaker({
                photo: 'user-2.jpg',
                name: 'Ольга Василевская',
                dscr: 'Google inc.'
              })
            .col-xl-2.col-lg-3.col-md-4.col-sm-6
              +speaker({
                photo: 'user-3.jpg',
                name: 'НИКОЛИНА КИМ',
                dscr: 'Управляющий партнер ООО “Моршанский банк”'
              })
            .col-xl-2.col-lg-3.col-md-4.col-sm-6
              +speaker({
                photo: 'user-4.jpg',
                name: 'Катерина Бабина',
                dscr: 'ОАО «УралВагонЗавод»'
              })
            .col-xl-2.col-lg-3.col-md-4.col-sm-6
              +speaker({
                photo: 'user-5.jpg',
                name: 'Игорь Ольшанский',
                dscr: 'Управляющий партнер ООО “Моршанский банк”'
              })
        hr.mt-20.mb-30.mb-lg-60
        .container
          h3.mb-30.mb-lg-60 Программа трека
          .row.track__slider
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
            .col-md-4
              +card({
                title: 'Название сессии в несколько строк для наглядности'
              }).mb-0
              