extends ../templates/template.pug
block content
  +front
  .carousel.carousel--items
    +item({
      bg: 'item-1.jpg',
      icon: 'item-icon-1.png'
    })
    +item({
      bg: 'item-2.jpg',
      icon: 'item-icon-2.png'
    })
    +item({
      bg: 'item-3.jpg',
      icon: 'item-icon-3.png'
    })
    +item({
      bg: 'item-4.jpg',
      icon: 'item-icon-4.png'
    })
    +item({
      bg: 'item-1.jpg',
      icon: 'item-icon-1.png'
    })
    +item({
      bg: 'item-2.jpg',
      icon: 'item-icon-2.png'
    })
    +item({
      bg: 'item-3.jpg',
      icon: 'item-icon-3.png'
    })
    +item({
      bg: 'item-4.jpg',
      icon: 'item-icon-4.png'
    })
  +speakers-slider
  .container-fluid.py-40
    h2.mb-20.mb-lg-55 Возможности коммуникации с участниками и спикерами мероприятия:
    .row
      .col-sm-6.col-lg-3.col-xl.d-flex
        +interaction({
          title: 'Общий чат',
          btn: 'Начать'
        })
      .col-sm-6.col-lg-3.col-xl.d-flex
        +interaction({
          title: 'Вопрос спикеру',
          btn: 'Задать'
        })
      .col-sm-6.col-lg-3.col-xl.d-flex
        +interaction({
          title: 'Чаты по интересам',
          btn: 'Начать'
        })
      .col-sm-6.col-lg-3.col-xl.d-flex
        +interaction({
          title: 'Expo',
          btn: 'Посетить'
        })
      .col-sm-6.col-lg-3.col-xl.d-flex
        +interaction({
          title: 'Обсудить сессию',
          btn: 'Обсудить'
        })