extends ../templates/template.pug
block content
  .background.background--dark
    .py-30.py-xl-50
      .container
        .link-back
          a.link-back__btn(href="#")
          .link-back__content
            .h2.mb-0 Networking
        +chat({
          title: 'Общий чат партнера'
        }).chat--dark
        +opportunities({
          modifier: 'networking'
        }).opportunities--dark