extends ../templates/template.pug
block content
  .background.background--dark
    .py-30.py-xl-50
      .container
        .article
          .row
            .col-xl-7.col-lg-8
              .link-back
                a.link-back__btn(href="#")
                .link-back__content
                  .h2.mb-5 Сколково
                  .h4.transparent.mb-0 Skolkovo
              .article__content
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
                p.transparent It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposedIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
            .col-lg-4.offset-xl-1
              +info({
                modifier: 'organizer'
              })