extends ../templates/template.pug
block content
  .background.background--dark
    .py-30.py-xl-50
      .container
        .article
          .row
            .col-lg-8
              .link-back
                a.link-back__btn(href="#")
                .link-back__content
                  .h2.mb-5 Digitalfuture
                  .h4.transparent.mb-0 digitalfuture
              .article__content
                +video.mb-30
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
                p.transparent It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposedIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                h3.text-white.my-30 Документы
                .row.mb-40.mb-lg-0
                  .col-lg-6
                    +document({
                      icon: 'document-1.svg',
                      title: 'Название документа может быть в две строки с сокращением...',
                      info: 'Filename.pdf (3 mb)'
                    })
                  .col-lg-6
                    +document({
                      icon: 'document-1.svg',
                      title: 'Название документа может быть в две строки с сокращением...',
                      info: 'Filename.pdf (3 mb)'
                    })
            .col-lg-4
              +info({
                modifier: 'partner'
              })
              +chat.mt-35
      .bg-primary-light.py-30.py-lg-50.my-50
        .container
          h3.text-white.text-center.mb-20.mb-lg-40 Презентация партнера
          +presentation
      .container
        .row
          .col-lg-4
            +picture({
              img: 'picture-1.jpg'
            })
          .col-lg-4
            +picture({
              img: 'picture-2.jpg'
            })
          .col-lg-4
            +picture({
              img: 'picture-3.jpg'
            })