extends ../templates/template.pug
block content
  .py-30.py-xl-50
    .container
      .link-back
        a.link-back__btn(href="#")
        .link-back__content
          .h2.mb-0 Участники
      form.form(action="#", method="POST")
        .row
          .col-lg-3.col-sm-6.d-flex.align-items-end
            .form__item.w-100
              +search({
                placeholder: 'Поиск по участникам'
              }).search--dark
          .col-lg-3.col-sm-6
            .form__item
              .form__label.mb-10 Должность
              +select
          .col-lg-3.col-sm-6
            .form__item
              .form__label.mb-10 Компания
              +select
          .col-lg-3.col-sm-6
            .form__item
              .form__label.mb-10 Страна
              +select
        .row.mt-5
          .col-sm-6.col-md
            .form__item
              .form__label.mb-10 Экспонент
              +select
          .col-sm-6.col-md
            .form__item
              .form__label.mb-10 Отрасль
              +select
          .col-sm-6.col-md
            .form__item
              .form__label.mb-10 Статус участия
              +select
          .col-sm-6.col-md
            .form__item
              .form__label.mb-10 Сфера деятельности
              +select
          .col-lg-3.d-flex.align-items-end.mb-10
            .form__filters-footer.w-100
              a.form__filters-clear(href="#")
              button.btn.btn-fixed.btn-secondary.text-white.btn-tight(type="submit") Отфильтровать
        .row.mt-35
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-1.jpg',
              name: 'Горев Ульян'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-2.jpg',
              name: 'Яльцев Платон'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-3.jpg',
              name: 'Парфёнов Ким'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-4.jpg',
              name: 'Ельцов Архип'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-5.jpg',
              name: 'Новохацкая Нона'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-6.jpg',
              name: 'Корбылева Ефросиния'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-7.jpg',
              name: 'Верясова Каролина'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-8.jpg',
              name: 'Яхимович Любовь'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-1.jpg',
              name: 'Горев Ульян'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-2.jpg',
              name: 'Яльцев Платон'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-3.jpg',
              name: 'Парфёнов Ким'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-4.jpg',
              name: 'Ельцов Архип'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-5.jpg',
              name: 'Новохацкая Нона'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-6.jpg',
              name: 'Корбылева Ефросиния'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-7.jpg',
              name: 'Верясова Каролина'
            })
          .col-xl-3.col-md-4.col-sm-6
            +user({
              photo: 'user-8.jpg',
              name: 'Яхимович Любовь'
            })
        +pagination.mt-sm-40