extends ../templates/template.pug
block content
  .py-30.py-xl-50
    .container-fluid
      .row
        .col-xl-3
        .col-xl-9
          +activity({
            modifier: 'remove'
          })
          +activity({
            modifier: 'cancel'
          })
          +activity({
            modifier: 'live'
          })
          +conversation
          