extends ../templates/template.pug
block content
  .py-30.py-xl-50
    .container
      .link-back
        a.link-back__btn(href="#")
        .link-back__content
          .h2.mb-0 Спикеры
      +search({
        placeholder: 'Поиск по участникам'
      }).search--dark.my-20.mt-lg-50.mb-lg-45
      .row
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-1.jpg',
            name: 'Горев Ульян',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-2.jpg',
            name: 'Яльцев Платон',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-3.jpg',
            name: 'Парфёнов Ким',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-4.jpg',
            name: 'Ельцов Архип',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-5.jpg',
            name: 'Новохацкая Нона',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-6.jpg',
            name: 'Корбылева Ефросиния',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-7.jpg',
            name: 'Верясова Каролина',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-8.jpg',
            name: 'Яхимович Любовь',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-1.jpg',
            name: 'Горев Ульян',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-2.jpg',
            name: 'Яльцев Платон',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-3.jpg',
            name: 'Парфёнов Ким',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-4.jpg',
            name: 'Ельцов Архип',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-5.jpg',
            name: 'Новохацкая Нона',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-6.jpg',
            name: 'Корбылева Ефросиния',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-7.jpg',
            name: 'Верясова Каролина',
            btn: 'Открыть биографию'
          })
        .col-xl-3.col-md-4.col-sm-6
          +user({
            photo: 'user-8.jpg',
            name: 'Яхимович Любовь',
            btn: 'Открыть биографию'
          })
      +pagination.mt-40