mixin user(data)
  .user&attributes(attributes)
    .user__picture
      img(src="./img/" + data.photo, alt)
    .user__content
      .user__content-top
        p.text-white.font-weight-bold= data.name
        p.sm.text-white.mb-0 Генеральный директор Mail.ru Group
      .user__footer
        if data && data.btn
          a.btn.btn-secondary.btn-sm(href="#") Открыть биографию
        else
          a.btn.btn-secondary.btn-sm(href="#") Написать сообщение