.user {
  position: relative;
  margin-bottom: 40px;
  display: block;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: 5px;

  @include transition;

  &:hover {
    border-color: $secondary;

    .user__content {
      padding-bottom: 36px;
      justify-content: space-between;
      background: linear-gradient(
        180.44deg,
        rgba(19, 2, 43, .9) -.38%,
        rgba(19, 2, 43, .84) 99.62%
      );

      @include media-breakpoint-down(md) {
        padding-bottom: 15px;
      }
    }

    .user__footer {
      position: static;
      opacity: 1;
    }
  }

  &__picture {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 5px;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(
        180.44deg,
        rgba(19, 2, 43, .01) -.38%,
        rgba(19, 2, 43, .53) 99.62%
      );
      border-radius: 5px;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transform: translateX(-50%);
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 20px 25px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      padding: 15px;
    }
  }

  &__footer {
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;

    @include transition;

    .btn {
      margin: 0 auto;
      padding: 10.8px 10px;
      display: inline-flex;
      max-width: 180px;
      min-height: 0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }
}
