mixin estimate(data)
  .estimate&attributes(attributes)
    .estimate__left
      h5.mb-5= data.title
      p.sm.semi-transparent.mb-0= data.comment
    .estimate__right
      if data.price
        .h3.mb-0= data.price
      else if data.content
        .h4.mb-0= data.content