.estimate {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(#fff, .1);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__right {
  }
}
