.front {
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
  color: #fff;
  background: url(../img/front-bg.jpg) no-repeat top center;
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(0deg, rgba(19, 2, 43, .7), rgba(19, 2, 43, .7));
  }

  &__content {
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
  }

  &__media {
    position: relative;
    z-index: 1;
  }

  &__video-wrapper {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__video-content {
    margin-right: 60px;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-right: 0;
    }
  }
}
