mixin front(data)
  .front&attributes(attributes)
    +partners-row.carousel
    .container-fluid
      .row
        .col-xl-4.offset-xl-1.d-flex.align-items-center
          .front__content
            h3.text-secondary.mb-20.mb-lg-40 19–21 ОКТЯБРЯ
              h2.mb-20.mb-lg-40 МОСКОВСКИЙ МЕЖДУНАРОДНЫЙ ФОРУМ ИННОВАЦИОННОГО РАЗВИТИЯ 2020
              h5.text-secondary.mb-0 ТЕХНОЛОГИИ ИЛИ КРИЗИС. КТО ЗАДАЕТ ТРЕНДЫ ЦИФРОВОГО БУДУЩЕГО
        .col-xl-5.offset-xl-1.d-flex.align-items-center
          .front__media
            +video
            .front__video-wrapper
              .front__video-content
                h5.mb-10 Название Трека в одну строку
                p.sm.font-weight-normal.mb-10 Билет дает вам доступ к выступлениям по более чем 100 темам, лхвыатывающим все: от клточных технологий до дистанционного образования, от квантого
                p.sm.font-weight-normal.transparent 18.08.2020 14:30
              a.btn.btn-secondary.btn-sm.text-uppercase(href="#") Live