.partners-row {
  position: relative;
  z-index: 1;
  padding: 35px 0 45px;

  &__item {
    margin: 0 13px;
    display: flex !important;
    width: 184px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background: #fff;

    @include media-breakpoint-down(sm) {
      margin: 0 10px;
      width: 100px;
      height: 80px;
    }

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }
}
