mixin partners-row(data)
  .partners-row&attributes(attributes)
    .partners-row__item
      img(src="./img/partner-1.png", alt)
    .partners-row__item
      img(src="./img/partner-2.png", alt)
    .partners-row__item
      img(src="./img/partner-3.png", alt)
    .partners-row__item
      img(src="./img/partner-4.png", alt)
    .partners-row__item
      img(src="./img/partner-5.png", alt)
    .partners-row__item
      img(src="./img/partner-6.png", alt)
    .partners-row__item
      img(src="./img/partner-7.png", alt)
    .partners-row__item
      img(src="./img/partner-1.png", alt)
    .partners-row__item
      img(src="./img/partner-2.png", alt)
    .partners-row__item
      img(src="./img/partner-3.png", alt)
    .partners-row__item
      img(src="./img/partner-4.png", alt)
    .partners-row__item
      img(src="./img/partner-5.png", alt)
    .partners-row__item
      img(src="./img/partner-6.png", alt)
    .partners-row__item
      img(src="./img/partner-7.png", alt)
    .partners-row__item
      img(src="./img/partner-1.png", alt)
    .partners-row__item
      img(src="./img/partner-2.png", alt)
    .partners-row__item
      img(src="./img/partner-3.png", alt)
    .partners-row__item
      img(src="./img/partner-4.png", alt)
    .partners-row__item
      img(src="./img/partner-5.png", alt)
    .partners-row__item
      img(src="./img/partner-6.png", alt)
    .partners-row__item
      img(src="./img/partner-7.png", alt)