mixin activity(data)
  .activity&attributes(attributes)
    .activity__top
      .activity__left
        .activity__info
          p.mb-10 18 сентября
          p.mb-0 12:00 - 14:00
        .h4.mb-0 Название сессии в несколько строк для наглядности отображения данного текста
      .activity__right
        if data && data.modifier == 'remove'
          a.btn.btn-outline-secondary.w-100(href="#") Удалить
        if data && data.modifier == 'cancel'
          a.btn.btn-danger.w-100(href="#") Отменить бронирование
    if data && data.modifier == 'live'
      .activity__bottom
        .activity__left
          +link
        .activity__right
          a.btn.btn-secondary.w-100(href="#") Присоединиться к сессии