.activity {
  margin-bottom: 23px;
  padding: 25px 30px;
  border: 1px solid rgba(#000, .2);
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }

  &__top {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    margin-right: 75px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
      margin-bottom: 20px;
    }
  }

  &__right {
    margin-left: 20px;
    min-width: 232px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
