.link-back {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__btn {
    position: relative;
    top: 3px;
    margin-right: 38px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, #f9cb2b 0%, #e9a40c 100%);
    border-radius: 5px;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:hover {
      opacity: .8;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/back-arrow.svg) no-repeat center;
    }
  }

  &__content {
  }
}
