.video {
  position: relative;
  padding-top: 56.41%;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .25);

  @include transition;

  &:hover {
    opacity: .8;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 86px;
    height: 86px;
    content: '';
    background: url(../img/play.svg) no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: 50px;
      height: 50px;
    }
  }

  &--default {
    box-shadow: none;
  }
}
