.questions {
  background: #f7f7f7;
  border-radius: 5px 0 0 5px;

  &__header {
    margin-bottom: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($primary, .1);
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__header-right {
  }

  &__expand {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/chat-header-btn.svg) no-repeat center;
    background-size: contain;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-left: 16px;

    @include media-breakpoint-down(sm) {
      padding: 15px 0 0 15px;
    }
  }

  &__list {
    position: relative;
    padding-top: 19px;
    padding-right: 20px;
    max-height: 523px;

    @include media-breakpoint-down(md) {
      max-height: 542px;
    }
  }
}
