mixin questions(data)
  .questions.js-expand-content&attributes(attributes)
    .questions__header
      .questions__header-left
        p.font-weight-bold.text-dark.mb-0.mr-10 Вопросы спикерам
        a.btn.btn-secondary.btn-xs(href="#") Задать
      .questions__header-right
        a.questions__expand.js-expand(href="#")
    .questions__content
      .questions__list
        +question
        +question
        +question
        +question
        +question
        +question
        +question
        +question