.select {

  &__input {
    padding: 0 20px;
    width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
    background: #301358 url(../img/select-arrow.svg) no-repeat right 20px center;
    border: 0;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;

    @include transition;

    &:hover {
      opacity: .9;
    }

    &:focus {
      outline: none;
    }
  }
}
