.interaction {
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c5c5c5;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    padding: 20px;
  }

  &__header {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 600;
    color: #333;
  }
}
