.form {

  &__item {
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 13px;
    color: rgba($primary, .5);
  }

  &__filters-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  &__filters-clear {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: url(../img/clear.svg) no-repeat center;
    border: 1px solid $primary;
    border-radius: 5px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--search-expo {

    @include transition;
  }

  &.active {
    transform: translateY(61px);
  }
}
